body {
    background-color: #000000;
    font-family: sans-serif;

}

h1 { 
        font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; 
        font-size: 50px; 
        font-style: normal; 
        font-variant: normal; font-weight: 700; line-height: 26.4px; 
        color: white; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 
h2,h3 { 
        font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; 
        font-size: 14px; 
        font-style: normal; font-variant: normal; 
        font-weight: 700; line-height: 15.4px; 
    } 
p { font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

} 
blockquote { font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main {
    width: 80%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}  

.main-text{
    padding-top: 30px;
}

.names{
    padding-top: 30px;
}